apiVersion: apps/v1
kind: Deployment
metadata:
  name: eve-api
  namespace: eve
spec:
  template:
    spec:
      containers:
        - name: api
          image: public.ecr.aws/w7c4v0w3/eve-horizon/api:staging
          env:
            - $patch: replace
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: eve-staging-db
                  key: DATABASE_URL
            - name: API_PORT
              value: "4701"
            - name: WORKER_URL
              value: http://eve-worker.eve.svc.cluster.local:4749
