apiVersion: v1
kind: ServiceAccount
metadata:
  name: eve-worker
  namespace: eve
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: eve-worker
  namespace: eve
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/status
      - pods/exec
      - persistentvolumeclaims
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eve-worker
rules:
  - apiGroups: [""]
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups: [""]
    resources:
      - pods
      - pods/status
      - persistentvolumeclaims
      - services
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups: ["apps"]
    resources:
      - deployments
      - replicasets
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups: ["batch"]
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups: ["networking.k8s.io"]
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: eve-worker
  namespace: eve
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: eve-worker
subjects:
  - kind: ServiceAccount
    name: eve-worker
    namespace: eve
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: eve-worker
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: eve-worker
subjects:
  - kind: ServiceAccount
    name: eve-worker
    namespace: eve
